* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ae9cff;
  font-family: "poppins", sans-serif;
}
.container {
  background-color: #ffffffff;
  width: 90vmin;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgb(38, 33, 61, 0.2);
}
.container .search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  border-bottom: 3px solid #ae9cff;
  outline: none;
}

.container .search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: #ae9cff;
  border: none;
  outline: none;
  color: #ffffffff;
  border-radius: 5px;
}
.container .search-box button:hover {
  background: #624bcb;
}

.result {
  position: relative;
}
.result h3{
    font-size: 30px;
    color: #ae9cff;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button{
    background-color: transparent;
    border: none;
    color: #ffffffff;
    cursor: pointer;
    outline: none;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b6b6d4;
    font-size: 14px;
    margin: 5px 0px 40px 0px;
}
.word-meaning {
    color: #575e7b;
}

.wword-example {
    color: #575e7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}